/*globle*/
*
{
    outline: none !important;
    margin: 0;
    padding: 0;
}

html
{
    overflow-y: scroll;
}
p
{
    margin: 0 0 20px 0;
    font: menu;
}
img
{
    max-width: 100%;
}
a
{
    text-decoration: none;
    outline: none;
    color: #4da7ca;
    transition: all 0.4s;
}
/*a:hover*/
/*{*/
/*color: #4290ae!important;*/
/*}*/
h1, h2, h3, h4, h5, h6
{
    margin: 0 0 15px 0;
    color: #3A9EAD;
}

/*drawer*/
#menu-glass
{
    position: fixed;
    right: -400px;
    top: 0;
    bottom: 0;
    width: 300px;
    padding: 20px;
    z-index: 998;
    font-size: 135%;
    filter: blur(10px);
    transition:  all 0.3s;
}
#drawer-right
{
    position: fixed;
    right: -400px;
    top: 0;
    bottom: 0;
    background: rgba(35,35,35,0.3);
    width: 300px;
    padding: 20px;
    z-index: 999;
    font-size: 135%;
    transition:  all 0.3s;
}
#drawer-right a
{
    color: white;
}
#drawer-right a:hover
{
    color: #4da7ca;
}
#drawer-right .closeButton
{
    text-align: right;
}
#drawer-right h1, #drawer-right h2
{
    color: white;
    font: menu;
    font-size: 150%;
}

#drawer-left
{
    position: fixed;
    left: -400px;
    top: 0;
    bottom: 0;
    background: rgba(35,35,35,0.9);
    width: 300px;
    padding: 20px;
    z-index: 999;
    font-size: 135%;
    transition:  all 0.3s;
}

#drawer-left a
{
    color: white;
}
#drawer-left a:hover
{
    color: #4da7ca;
}
#drawer-left .closeButtonl
{
    text-align: right;
}
#drawer-left h1, #drawer-left h2
{
    color: white;
    font: menu;
    font-size: 150%;
}
#drawer-left .nav
{
    list-style: none;
    font:  menu;
    font-size: 139%;
}

#drawer-left .nav-pills>li
{
    line-height: 50px;
}

#drawer-left .nav-pills>li>a
{
    font-size: 18px;
    border-radius: 0;
}



#menu-glass .solid
{
    background: #475B6F;
}

#drawer-right .nav
{
    list-style: none;
    font:  menu;
    font-size: 139%;
}

#drawer-right .nav-pills>li
{
    line-height: 50px;
}

#drawer-right .nav-pills>li>a
{
    font-size: 18px;
    border-radius: 0;
}

#drawer-right .social
{
    margin-top: 30px
}
#drawer-right .social ul
{
    list-style: none;
    padding-left: 20px;
}
#drawer-right .social ul > li
{
    display: inline-block;
}
#drawer-right .social ul > li > a:hover
{
    color: white;
}
#footer
{
    text-align: center;
    color: white;
    font: menu;
    font-size: 84%;
}

/*header*/
#header
{
    position: relative;
    padding: 0 !important;
}

#header.header-wrapper
{
    background: #434343;
    background-size: cover;
    display: table;
    height: 100vh;
    width: 100%;
    position: relative;
    z-index: 1;
    overflow-x: hidden;
}

#header.header-wrapper .header-wrapper-inner
{
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

#header .top
{
    position:fixed;
    top:0%;
    width: 100%;
    padding: 30px;
    height: 4%;
    z-index: 500;
    transition: all .5s;
}

#header .pull-left
{
    width: 10%;
    min-width: 10%;
    white-space:nowrap;
    position: fixed;
    left: 10%;
    font-size: 135%;
}

#header .pull-right
{
    width: 10%;
    min-width: 10%;
    position: fixed;
    left: 81%;
    font-size: 103%;
}

#header .top h1
{
    margin-bottom: 0;
}


#header .logo, #header .toggleDrawer
{
    color: white;
}

/*content-block*/
.content-block
{
    background: white center center fixed;
    overflow: hidden;
    width: 82%;
    max-width: 52%;
    margin-left: auto;
    margin-right: auto;
}
.content
{
    margin-right: auto;
    margin-left: auto;
    width: 100%;
}
.content img
{
    width: auto;
    height: 100%;
}

@media screen and (max-width: 767px)
{
    .content-block
    {
        width: 100%;
        max-width: 100%;
    }

}

